<?xml version="1.0" encoding="UTF-8"?>
<web-app
  xmlns="http://xmlns.jcp.org/xml/ns/javaee"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee
                      http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
  version="4.0"
>
  <display-name>Project B</display-name>
  
  <context-param>
    <param-name>MapQuestAPIKey</param-name>

  </context-param>

  <servlet>
    <servlet-name>FAuth</servlet-name>
    <servlet-class>services.FAuth</servlet-class>
    <init-param>
      <param-name>authAddress</param-name>
      <param-value>130.63.96.131</param-value>
    </init-param>
    <init-param>
      <param-name>authPort</param-name>
      <param-value>43516</param-value>
    </init-param>
  </servlet>
  
  <servlet>
    <servlet-name>GeoWeb</servlet-name>
    <servlet-class>services.GeoWeb</servlet-class>
    <init-param>
      <param-name>geoWebAddress</param-name>
      <param-value>130.63.96.131</param-value>
    </init-param>
    <init-param>
      <param-name>geoWebPort</param-name>
      <param-value>36970</param-value>
    </init-param>
  </servlet>
  
  <servlet>
    <servlet-name>Loc</servlet-name>
    <servlet-class>services.Loc</servlet-class>
    <init-param>
      <param-name>locAddress</param-name>
      <param-value>130.63.96.154</param-value>
    </init-param>
    <init-param>
      <param-name>locPort</param-name>
      <param-value>33474</param-value>
    </init-param>
  </servlet>
  
  <servlet>
    <servlet-name>Drone</servlet-name>
    <servlet-class>services.Drone</servlet-class>
    <init-param>
      <param-name>geoWebAddress</param-name>
      <param-value>130.63.96.131</param-value>
    </init-param>
    <init-param>
      <param-name>geoWebPort</param-name>
      <param-value>36970</param-value>
    </init-param>
  </servlet>
  
   <servlet>
    <servlet-name>OAuth</servlet-name>
    <servlet-class>services.OAuth</servlet-class>
  </servlet>
 
</web-app>
